*{
    font-family: 'Montserrat', sans-serif;
    background-color: teal;
}
fieldset{
    align-items: center;
    position: relative;
    
    line-height: 150px;
}
h1{
    color: orangered;
}
input{
    color: white;
}
table{
    margin: 50px;
    line-height: 10px;
}
td{
    line-height: 10px;
}
form{
    line-height: 10px;
}