.loader{
    margin: auto;
    margin-top: 200px;
    margin-bottom: 100px;
    border: 16px solid teal;
    width: 120px;
    height: 120px;
    border-color: teal orangered;
    border-radius: 100px;
    animation: chargeur 4s linear infinite;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: teal;
}
@keyframes chargeur {
    0%{
        transform: rotate(0deg) scale(1);
        border-color: teal;
    }
    25%{
        border-color: orangered ;
    }
    50%{
        transform: rotate(360deg) scale(1.7);
        border-color: teal orangered;
    }
    75%{
        transform: rotate(540deg) scale(2);
        border-color:  orangered teal;
    }
    100%{
        transform: rotate(720deg) scale(1);
        border-color: orangered;
    }
   
}
